.book-img{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.book_description{
    justify-content: space-between;
    font-size: 2rem;
    display: flex;
    color: crimson;
    text-transform: uppercase;  
    margin-top: 3rem;
}

.book_container{
    display: block;
    margin-left: 25%;
    margin-right: 25%;
}

.book_name , .book_author{
    display: block  ;
}

.book_link{
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}