.club-img{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.club_description{
    justify-content: space-between;
    font-size: 2rem;
    display: flex;
    color: crimson;
    text-transform: uppercase;  
    margin-top: 3rem;
}

.club_container{
    display: block;
    margin-left: 25%;
    margin-right: 25%;
}