.clubItem{
    width: 30rem;
    padding: 1rem;
}

.clubImg{
    min-width: 10rem;
    width: 100%;
    border-radius: 1rem;
}

.inner-carousel{
    display: flex;
}

.clubCarousel{
    cursor: grab;
    overflow: hidden;
    background-color: rgb(230, 173, 173);
    margin-top: 2rem;

}
img{
    pointer-events: none;
}