.bookItem{
    width: 30rem;
    padding: 40px;
}

.bookImg{
    min-width: 15rem;
    width: 100%;
    border-radius: 1rem;
    
}

.bookInnerCarousel{
    display: flex;
}

.bookCarousel{
    cursor: grab;
    overflow: hidden;
    background-color: lightblue;
}
img{
    pointer-events: none;
}