.nav {
    display: flex;
    justify-content: space-between;
}

.nav-left {
    display: flex;
}

.nav .left .menu {
    display: flex;
    list-style: none;
}

.slogan{
    font-size: 1.2rem;
    margin: 1rem;
    color: #c44faa;
}

