.contact_h2{
    text-align: center;
}

.contact_img{
    padding: 1rem;
}

.contact_div{
    float: left;
    width: 33%;
}

.contact_main_div{
    display: inline-block;
    
}

.contact_h1_title{
    text-align: center;
}

.contact_h4{
    padding: 1rem;
}