.bookClub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .bookClub-cover {
    width: 500px;
    height: 450px;
    margin-bottom: 1rem;
  }
  
  .bookClub-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .bookClub-author, .bookClub-publish-date, .bookClub-description {
    margin: 10px 0;
    color: #333;
  }
  